
<html>
    <head>
        {% if title %}
        <title>{{ title }} - webFace</title>
        {% else %}
        <title>Welcome to webFace!</title>
        {% endif %}
    </head>
    <body>
        <div>
            webYolo: 
            <a href="/index">Home</a>
            <a href="/upload">Upload</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
</style>


    <div class="footer">
        <hr>
        <p> face recognition - Github: <a href="https://github.com/ageitgey/face_recognition">@ageitgey</a>
        <p> web service      - Github: <a href="https://github.com/earacena">@earacena</a>
    </div>
</html>
